Setup the index.handlebars to have the template that Handlebars can render onto.

Create a button in index.handlebars that will submit the user input into the database.

<h1>Good Burger Menu</h1>
<h4>Welcome To Good Burger Home of The Good Burger</h4>
<h4>How Can I Help You?</h4>
<div class="container">
	<div class="row">
		<ul>
		</ul>
	</div>

<h2>Add A Burger</h2>
	<form method="POST" action="/" class = "button-size">
	</form>

<h2>Update A Burger</h2>
	<form method="POST" action="/" class = "button-size">